@use '../abstracts' as *;

.warningBox{
    max-width: 200px; 
    height: auto; 
    width: auto; 
    position: absolute; 
    top: $padding * 2; left: $padding * 2; 
    background-color: $primary-color; 
    color: $warning-color; 
    border: 2px solid $secondary-color; 
    border-radius: 2px; 
    padding: $padding; 
    z-index: 1000;
    font-size: 14px;
    font-weight: bold;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}