$primary-color: white;
$secondary-color: black;

$disabled-color: rgb(100, 100, 100);

$start-point-color: rgb(255, 0, 0);
$join-point-color: rgb(0, 0, 255);

$warning-color: rgb(255, 0, 0);

$unimportant-text: rgb(212, 212, 212);
